html,
body {
    margin: 0;
    padding: 0;
}

body img {
    width: 150px;
}

h1 {
    text-align: center;
}

.grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.grid > * {
    text-align: center;
}
